@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box; /* doesnot effect the width after adding padding */
  margin: 0;
  padding: 0;
}
body {
  font-family: "Roboto", sans-serif;
  display: flex; /* centers everything */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  margin: 0;
}
/* background image */
.work-experience-container img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: relative;
  z-index: -10;
}

h1 {
  margin: 10px;
}
.box {
  background: rgb(121, 199, 247);
  background: linear-gradient(
    180deg,
    rgba(121, 199, 247, 1) 55%,
    rgba(120, 195, 240, 1) 56%,
    rgba(217, 142, 79, 1) 93%
  );
  color: #fff;
  width: 1000px;
  height: 600px;
  position: absolute;
  border-radius: 15px;
  box-shadow: 2px 4 px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(1000%);
  transition: transform 0.4s ease;
  padding: 40px;
  margin: 10px;
}
.box:nth-of-type(even) {
  transform: translateX(-1000%);
}
.box.show {
  transform: translateX(0);
}

.work-experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px 0;
}

.position {
  padding-left: 5px;
  font-size: 30px;
  font-weight: bolder;
}
.workplace {
  font-size: 15px;
  font-weight: bold;
}
.worktime {
  color: #444;
  padding-left: 50px;
  padding-top: 10px;
}
.about-work {
  padding: 25px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
