@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap");

* {
  box-sizing: border-box; /* doesnot effect the width after adding padding */
  margin: 0;
  padding: 0;
}
body {
  /* background-color: #efedd6; */
  font-family: "Roboto", sans-serif;
  display: flex; /* centers everything */
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;
  margin: 0;
}
h1 {
  margin: 10px;
}
.box {
  background-color: steelblue;
  color: #fff;
  width: 1000px;
  height: 350px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 2px 4 px 5px rgba(0, 0, 0, 0.3);
  transform: translateX(1000%);
  transition: transform 0.4s ease;
  padding: 5px;
  margin: 10px;
}
.box:nth-of-type(even) {
  transform: translateX(-1000%);
}
.box.show {
  transform: translateX(0);
}

.work-experience-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin: 10px 0;
}

.position {
  padding-left: 5px;
  font-size: 30px;
  font-weight: bolder;
}
.workplace {
  font-size: 15px;
  font-weight: bold;
}
.worktime {
  color: #444;
  padding-left: 50px;
  padding-top: 10px;
}
.about-work {
  padding: 25px;
  font-size: 20px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
